{% extends 'base.html.twig' %}

{% block body %}

<div class="d-flex" id="wrapper">

    {% include 'dashboard/partial/sidebar.html.twig' %}

    <div id="page-content-wrapper">

        {% include 'dashboard/partial/navbar.html.twig' %}

        <div class="container-fluid">
            <h1 class="mt-4">Профиль</h1>
            <div class="row">

                <div class="col-xl-6">

                    {% for flash in app.flashes('update_apitoken') %}
                        <div class="alert alert-success text-center">{{ flash }}</div>
                    {% endfor %}

                    <div class="card my-4">
                        <div class="card-body">
                            {{ form_start(apiTokenForm) }}
                            <p>Ваш API токен: {{ apiToken }}</p>
                            <input type="hidden" name="{{ field_name(apiTokenForm.apiToken) }}" value="apiTokenSet">
                            <button class="btn btn-outline-primary" type="submit">Создать новый</button>
                            {{ form_end(apiTokenForm) }}
                        </div>
                    </div>

                    {% for flash in app.flashes('update_user') %}
                        <div class="alert alert-success text-center">{{ flash }}</div>
                    {% endfor %}

                    {{ form_start(updateUserForm) }}
                    {{ form_errors(updateUserForm.firstName) }}
                        <div class="form-label-group">
                            <input type="text" id="inputName" class="form-control" placeholder="Ваше имя"
                                   value="{{ firstName }}"
                                   name="{{ field_name(updateUserForm.firstName) }}"
                                   autofocus
                            >
                            <label for="inputName">Ваше имя</label>
                        </div>

                    {{ form_errors(updateUserForm.email) }}
                        <div class="form-label-group">
                            <input type="email" id="inputEmail" class="form-control" placeholder="Ваш Email"
                                   value="{{ email }}"
                                   name="{{ field_name(updateUserForm.email) }}"
                            >
                            <label for="inputEmail">Ваш Email</label>
                        </div>

                    {{ form_errors(updateUserForm.plainPassword) }}
                        <div class="form-label-group">
                            <input type="password" id="inputPassword" class="form-control" placeholder="Пароль"
                                   name="{{ field_name(updateUserForm.plainPassword) }}"
                            >
                            <label for="inputPassword">Пароль</label>
                        </div>

                    {{ form_errors(updateUserForm.confirmPassword) }}
                        <div class="form-label-group">
                            <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Подтверждение пароля"
                                   name="{{ field_name(updateUserForm.confirmPassword) }}"
                            >
                            <label for="inputConfirmPassword">Подтверждение пароля</label>
                        </div>

                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Изменить</button>
                    {{ form_end(updateUserForm) }}

                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}



